.nav {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;

  &.show,
  &:hover {
    pointer-events: initial;
    opacity: 0.99;
  }
}
