.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .marker-icon {
      color: #780000;
    }

    .marker-label {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}

.marker-icon {
  color: #c1121f;
  // enlarge icon (default: 24x24)
  transform: scale(2);
}

.marker-label {
  margin-left: 5px;
  padding: 2px 4px;
  max-width: 200px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
